<ul>
  {{#each model as |committee|}}
    <div class="container">
      <li>
        {{#link-to 'committee' committee.committee_id}}
          {{committee.name}}
        {{/link-to}}
      </li>
    </div>
  {{/each}}
</ul>
